# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
myenv/
.env/

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/

# Data files
data/
